# Dependencies
/vendor/
composer.lock

# PHPUnit
.phpunit.cache/
.phpunit.result.cache
coverage/

# PHP CS Fixer
.php-cs-fixer.cache

# IDE
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# OS
.DS_Store
Thumbs.db
